.navbar-container {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #495057;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

.navlink {
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 40px;
    font-size: 20px;
    color: #FFFFFF;
}

.navlink:hover {
    color: lightgray;
}
.right{
    justify-content: flex-end;
}
.margin-right{
    margin-right: 40px;
}
.logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 4px;
}